@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



.quicksand-font {
  font-family: "Quicksand";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Section */
.flex{
    display: flex;
}

/* Head Nav Section */

.nav-container{
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}

.nav-logo{
    gap: 11px;
}
.nav-logo h2 {
    font-style: bold;
    font-size: 32px;
 } 
.nav-box{
    gap: 32px;
    font-style: bold;
    font-size: 20px;
}

.btn{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: orange;
    border-radius: 12px;
    border: none;
}

/* hamburger style */
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

/* Hero kids Style */
.kid-age-container{
    max-width: 1158.61px;
    max-height: 575px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding-left: 186px;
    padding-right: 95.39px;
}
.kid-age-writting{
    width: 640px;
    height: 333px;
}
.kid-age-headline{

    width: 640px;
    height: 183px;
    font-style: bold;
    font-size: 3.5rem;
    line-height: 61px;

}
#empower{
    color: orange;
    
}
#vision{
    color: skyblue;
}
.kid-age-paragraph{
    width: 640px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 400;
}
.btn-hero-kid{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 20px;
    border-radius: .75rem;
    color: #FFFFFF;
    background-color: black;

}
.herokid-img{
    width: 100%;
}

/* Main Section Style */

/* My curriculam */

.curriculam-container{
    max-width: 1440px;
    max-height: 880px;
    background-image: url(bg.png);
    
}
.curriculam-container h1{
    display: flex;
    font-weight: 700;
    font-size: 46px;
    margin-top: 60px;
    justify-content: center;
    
    
}
.curriculam-conianer-child{
    display: flex;
    gap: 28.8px;
    width: 1160px;
    height: 481.5px;
    border-radius: 18.86px;
    justify-content: center;
    text-align: center;
    margin:auto 140px ;
}
.curriculam-conianer-child img{
    margin-top: 92.82px;
}
.Curriculam-font{
    font-weight: 700;
    font-size: 24.52px;
    line-height: 30.7px;
}
.carriculam-p-font{
    color: #808080;
    font-weight: 500;
    font-size: 16.09px;
    line-height: 28.3px;
    

}

.curriculam-container-granchild1{
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    justify-content: center;
    box-shadow: 0px 28px 28.3px #DEF5FF
    inset;
}

.curriculam-container-granchild2{
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    justify-content: center;
    box-shadow: 0px 28px 28.3px #FFF4DC
    inset;
}

.curriculam-container-granchild3{
    width: 367.8px;
    height: 476.78px;
    border-radius: 18.86px;
    justify-content: center;
    box-shadow: 0px 28px 28.3px #F2E8FF
    inset;
}

.kindergarden{
    margin-top: 38.67px;
    font-weight: 700;
    font-size: 15.09px;
}

/* Our Stories Style */





/* Media Query */
@media screen and (max-width: 576px) {
    .nav-box, .btn, .nav-container h2{
        display: none;
    }
    .hamburger{
        display: block;
        
    }
    .nav-container{
        justify-content:space-between ;
        width:100%;
    }
    
    /* .nav-container, .kid-age-container, .kid-age-writting, #empower, #vision{
        display: flex;

        flex-direction: column;
    }
    .kid-age-writting img{
        width: 75%;
    }
    
} 



